<div class="centered-content">
  <div class="task-manager-container">

    <!-- List -->
    <div class="sidebar">
      <h1 class="title has-text-primry">
        Lists
      </h1>

            <!-- List Menu -->
            <div class="list-menu">
              <a class="list-menu-item is-active">
                <p>List 1</p>
              </a>

              <a class="list-menu-item">
                <p>List 2</p>
              </a>

              <a class="list-menu-item">
                <p>List 3</p>
              </a>
            </div>

            <button class="button is-primary has-text-white">+ New List</button>
    </div>


    <!-- Task -->
    <div class="task-list-container">
      <h1 class="title has-text-primry">
        Tasks
      </h1>

      <!-- Task Elements -->
      <div class="task">
        <p>This is something I have to do.</p>
      </div>

      <div class="task">
        <p>This is something I have to do.</p>
      </div>

      <div class="task complete">
        <p>This is something I have to do.</p>
      </div>
    </div>


  </div>
</div>
